doctype html
html(lang="en")
  head 
    title Chat App
    link(rel='stylesheet' href='/static/styles.css')

  body
    .chat-container
      header.chat-header
        h1 Chat App
        a.btn(href='/home', method='get', action='/home') Leave Room
      main.chat-main
        .chat-sidebar
          h3 Room name
          h2#room-name BIS1
          h3 Users
          ul#users
            li Brad
            li John
            li Mary
            li Paul
            li Mike
        .chat-messages
      .chat-form-container
        form#chat-form
          input#msg(
              type='text'
              placeholder='Enter message'
              required
              autocomplete='off')
          button.btn Send
    script(src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js" 
    integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" crossorigin="anonymous")
    script(src='/socket.io/socket.io.js')
    script(src='../static/js/main.js')

